.footerContainer {
  height: 100%;
  width: 100%;
  border-top: 1px solid #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.footerCredits {
  text-align: center;
}

.footerLink {
  display: inline;
  text-decoration: none;
  color: #3E8290;
}

.footerIcon {
  height: 1rem;
  width: auto;
}

.contactContainer {
  width: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.contactImage {
  height: 4rem;
  width: auto;
}

@media only screen and (max-width: 900px) {
  .footerContainer {
    width: 95%;
  }
  .contactContainer {
    width: 60%;
    margin-bottom: 1rem;
  }
  .contactImage {
    height: 2rem;
    width: auto;
  }
}