.appContainer {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionHeader {
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
  padding-top: 2rem;
}

.mainContainer {
  width: 80%;
  color: #414141;
}

.section {
  padding-bottom: 2rem;
}

.section:not(:last-child) {
  border-bottom: 1px solid #e2e2e2;
}

.experienceContainer {
  margin-top: 1rem;
}

.contactContainer {
  display: flex;
  width: 33%;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contactImage {
  height: 4rem;
  width: auto;
}

@media only screen and (max-width: 900px) {
  .mainContainer {
    width: 95%;
  }
}